---
pagination:
    data: films.data.allFilms.films
    size: 1
    alias: film
    addAllPagesToCollections: true
permalink: "films/starwars-ep_{{ film.episodeID | slugify }}/"
title: {{ film.title }}
layout: base
tags: filmPages
---

<h2>{{ film.title }}</h2>

{% render '_includes/objectList.liquid', listName: 'Characters', objList: film.characterConnection.characters %}
{% render '_includes/objectList.liquid', listName: 'Planets', objList: film.planetConnection.planets %}
{% render '_includes/objectList.liquid', listName: 'Starships', objList: film.starhipConnection.starships %}
{% render '_includes/objectList.liquid', listName: 'Vehicles', objList: film.vehicleConnection.vehicles %}