/*========
// Styles for index AND individual movie pages.
==========*/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0.5rem auto;

}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: thin solid gold;
    border-top: thin solid gold;
    padding: 5px 0 5px 0;
}

header div {
    height: 50px;
}

header div:last-child {
    text-align: right;
}

header img {
    max-height: 100%;
}

footer {
    border-top: thin solid gold;
    font-size: 0.85rem;
}

a:link, a:visited, a:hover, a:active {
    color: gold;
}

/*=========
// Styles specific to the individual movie pages.
===========*/
#dashboard {
    display: grid;
    grid-template-areas:
        "swImg mInfo"
        "swImg mData";
    grid-template-columns: 25% 75%;
    grid-template-rows: 40% 60%;
    background-color: grey;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

#dashboard div,
#dataBoard nav,
#dataBoard #dataListContainer {
    background-color: white;
    border-radius: 0.25rem;
    margin: 0.25rem;
    padding: 0.25rem;
    color: black;
}

#dashboard a:link, 
#dashboard a:visited, 
#dashboard a:hover, 
#dashboard a:active {
    color: black;
}

#moviePoster {
    grid-area: swImg;
    text-align: center;
}

#moviePoster img {
    width: 100%;
}

#infoBoard {
    grid-area: mInfo;
}

#dashboard #dataBoard {
    grid-area: mData;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: grey;
    padding: 0;
    margin: 0;
}

#dashboard #dataBoard #dataListContainer div.dataList {
    display: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    height: 200px;
}


